@use "variable" as *;
@use "svg" as *;

/* =================================
** 会社情報 / 保有機材
------------------------------ */
.container01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 2em;
    gap: 8em 0;
    article {
        display: flex;
        flex-direction: column;
        max-width: 117rem;
        .boxGreeting {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            margin-top: 4em;
            h4 {
                @include Serif;
                font-size: FZ(28);
                letter-spacing: 0.08em;
                font-weight: 600;
            }
            p {
                font-size: FZ(16);
                line-height: 2em;
                letter-spacing: 0.08em;
                text-align: justify;
                margin-top: 1.4em;
            }
            .name {
                align-self: flex-end;
                font-size: FZ(16);
                display: flex;
                gap: 0 1em;
                letter-spacing: 0.04em;
                margin-top: 2em;
            }
        }
        .boxCompany {
            position: relative;
            font-size: inherit;
            margin-top: 4em;
            width: 100%;
            display: grid;
            grid-template-columns: auto 1fr;
            dl {
                position: relative;
                font-size: inherit;
                padding-block: 1em;
                border-bottom: solid 1px rgba(72, 145, 126, 0.5);
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                gap: 0 10em;
                color: #333;
                dt {
                    font-size: FZ(14);
                    font-weight: 500;
                }
                dd {
                    font-size: FZ(14);
                    font-weight: 500;
                    &.wrapAddress {
                        display: grid;
                        grid-template-columns: auto auto 1fr;
                        gap: 0.8em 0;
                        div {
                            grid-column: span 3;
                            font-size: inherit;
                            display: grid;
                            grid-template-columns: subgrid;
                            gap: 0 1em;
                            p {
                                font-size: inherit;
                            }
                            address {
                                grid-column: span 2;
                                display: grid;
                                grid-template-columns: subgrid;
                                font-size: inherit;
                            }
                        }
                    }
                    &.wrapTel {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 0.8em 0;
                        div {
                            grid-column: span 2;
                            font-size: inherit;
                            display: grid;
                            grid-template-columns: subgrid;
                            a {
                                font-size: inherit;
                                &::before {
                                    content: "：";
                                    margin-inline: 0.5em;
                                }
                            }
                        }
                    }
                    &.wrapDetails {
                        display: flex;
                        flex-direction: column;
                        gap: 0.8em 0;
                        p {
                            font-size: inherit;
                        }
                    }
                    &.wrapHistory {
                        ul {
                            position: relative;
                            font-size: inherit;
                            display: grid;
                            grid-template-columns: auto 1fr;
                            gap: 0.8em 0;
                            li {
                                font-size: inherit;
                                grid-column: span 2;
                                display: grid;
                                grid-template-columns: subgrid;
                                gap: 0 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* =================================
** 保有機材
------------------------------ */
.container02 {
    background-color: rgb(11 97 71 / 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em 2em;
    gap: 8em 0;
    margin-top: 5em;
    article {
        display: flex;
        flex-direction: column;
        max-width: 117rem;
        .boxContents {
            position: relative;
            font-size: inherit;
            margin-top: 4em;
            display: flex;
            .wrapDetails {
                flex: 1;
                display: flex;
                flex-direction: column;
                font-size: inherit;
                gap: 3em 0;
                dl {
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    gap: 1em 0;
                    dt {
                        position: relative;
                        color: #04936a;
                        font-size: FZ(20);
                        font-weight: 600;
                        letter-spacing: 0.04em;
                        padding-left: 1.4em;
                        margin-top: 1em;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            translate: 0 -50%;
                            left: 0;
                            width: 1em;
                            height: 2px;
                            background-color: #04936a;
                        }
                    }
                    dd {
                        font-size: inherit;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        padding-left: 2em;
                        gap: 0.8em 0;
                        div {
                            font-size: FZ(14);
                            letter-spacing: 0.08em;
                            position: relative;
                            grid-column: span 2;
                            display: grid;
                            grid-template-columns: subgrid;
                            padding-left: 1em;
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0.4em;
                                width: 6px;
                                aspect-ratio: 1;
                                border-radius: 50%;
                                background-color: $base-black;
                            }
                            span {
                                &::after {
                                    margin-inline: 0.5em;
                                    content: "：";
                                }
                            }
                        }
                    }
                }
            }
            img {
                width: 60%;
            }
        }
    }
}
